<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OnlineBilet.Properties.Settings.OnlineBiletConnectionString1"
      connectionString="Data Source=ESIN;Initial Catalog=OnlineBilet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OnlineBilet.Properties.Settings.OnlineBiletConnectionString"
      connectionString="Data Source=NIDOŞŞŞ;Initial Catalog=OnlineBilet;User ID=sa;Password=as"
      providerName="System.Data.SqlClient" />
    <add name="OnlineBilet.Properties.Settings.OnlineBiletConnectionString2"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\OnlineBilet.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>